body {
    background-image: url('images/cavebnw.png');
    background-repeat: repeat;
    font-family: 'Comic Sans MS', 'Courier New', sans-serif; 
    color: #00FF00; 
    background-color: #000000; 
    background-size: 200px
}
.post{
    text-align: center;
    display:flex;
    color:white;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    

}
.post-content{
    display:flex;
    justify-content:center;
    align-items: center;
    width:50%;
    background-color:black;
    border: solid 1px white;
    flex-direction: column;
}
.post-header{
    text-color:white;
    font-size: 20px;
}
